<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'ced_main/Styles/userstyle.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'ced_main/Styles/style.css' %}" />
<h3>Below you will find all bug reports entered for the CED website as of June 30 2014 as well as their current status and resolution. </h3>

<div id="bugsrpt" style="width:1200px;">
<img id="bugs" src="{% static 'ced_main/images/ced_main/Error_Resolutions_6-30-2014.png' %}" alt="Error Resolutions" width="1200px"
title="Error Resolutions" /></img>
</div>



