{% extends "welcome/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block breadcrumbs %}{% endblock %}
{% block head_css_page %}

<link href="{% static 'ced_main/Styles/sgcestyle.css' %}"  rel="stylesheet" type="text/css" media="screen" />

{% endblock head_css_page %}

{% block title %}Manage User{% endblock title %}


{% block content %}

      <form id="" method="post" action="">
        {% csrf_token %}

          <div id="regis">
            <h3> CED Check Project Errors Page</h3>
            <p> Select the type of report you wish to generate.  The results will be sent to your email address we have on file.</p>
          </div>
          <div id="bttnerror">
            <input type="submit" class="button1" name="cefamp" value="Check Errors for All My Projects" onclick="showDiv();"/>
          </div>
          <br>
          <div id="bttnerror">
          <input type="submit" class="button1" name="cefpic" value="Check Errors for Projects I Created" onclick="showDiv();"/>
          </div>
          <br>
          <div id="bttnerror">
          <input type="submit" class="button1" name="cefpim" value="Check Errors for Projects I Modified" onclick="showDiv();"/>
          </div>
          <br>
          <div id="bttnerror">
          <input type="submit" class="button1" name="cefmdp" value="Check Errors for My Draft Projects" onclick="showDiv();"/>
          </div>
          <br>
          <div id="bttnerror">
          <input type="submit" class="button1" name="ceonmpaa" value="Check Errors on My Projects Awaiting Approval" onclick="showDiv();"/>
          </div>
          <br>
          {% if authen == 'authenapp' or authen == 'authenadmin' %}
            <div id="bttnerror">
            <input type="submit" class="button1" name="ceoapia" value="Check Errors on All Projects I Approve" onclick="showDiv();"/>
            </div>
            <br>
            <div id="bttnerror">
            <input type="submit" class="button1" name="ceopama" value="Check Errors on Projects Awaiting My Approval" onclick="showDiv();"/>
            </div>
          {% endif %}
          {% if authen == 'authenadmin' %}
            <br>
            <div id="bttnerror">
            <input type="submit" class="button1" name="ceoapitd" value="Check Errors on All Projects in the Database" onclick="showDiv();">
            </div>
          {% endif %}
          <div id="processingDiv4" style="display:none; z-index=100;" class="answer_list"> <div id="loaderImage" ></div> Processing Error Check...<br> Please wait <br>this process can take some time <br>depending on the volume of records.
          </div>


<script type="text/javascript">
function showDiv() {
   document.getElementById('processingDiv4').style.display = "block";
   
}
</script>


<script type="text/javascript">
  var cSpeed=11;
  var cWidth=220;
  var cHeight=201;
  var cTotalFrames=12;
  var cFrameWidth=220;
  var cImageSrc="{% static 'ced_main/images/ced_main/sprites.gif' %}"
  
  var cImageTimeout=false;
  var cIndex=0;
  var cXpos=0;
  var cPreloaderTimeout=false;
  var SECONDS_BETWEEN_FRAMES=0;
  
  function startAnimation(){
    
    document.getElementById('loaderImage').style.backgroundImage='url('+cImageSrc+')';
    document.getElementById('loaderImage').style.width=cWidth+'px';
    document.getElementById('loaderImage').style.height=cHeight+'px';
    
    //FPS = Math.round(100/(maxSpeed+2-speed));
    FPS = Math.round(100/cSpeed);
    SECONDS_BETWEEN_FRAMES = 1 / FPS;
    
    cPreloaderTimeout=setTimeout('continueAnimation()', SECONDS_BETWEEN_FRAMES/2000);
    
  }
  
  function continueAnimation(){
    
    cXpos += cFrameWidth;
    //increase the index so we know which frame of our animation we are currently on
    cIndex += 1;
     
    //if our cIndex is higher than our total number of frames, we're at the end and should restart
    if (cIndex >= cTotalFrames) {
      cXpos =0;
      cIndex=0;
    }
    
    if(document.getElementById('loaderImage'))
      document.getElementById('loaderImage').style.backgroundPosition=(-cXpos)+'px 0';
    
    cPreloaderTimeout=setTimeout('continueAnimation()', SECONDS_BETWEEN_FRAMES*2000);
  }
  
  function stopAnimation(){//stops animation
    clearTimeout(cPreloaderTimeout);
    cPreloaderTimeout=false;
  }
  
  function imageLoader(s, fun)//Pre-loads the sprites image
  {
    clearTimeout(cImageTimeout);
    cImageTimeout=0;
    genImage = new Image();
    genImage.onload=function (){cImageTimeout=setTimeout(fun, 0)};
    genImage.onerror=new Function('alert(\'Could not load the image\')');
    genImage.src=s;
  }
  
  //The following code starts the animation
  new imageLoader(cImageSrc, 'startAnimation()');
</script>
{% endblock content %}