<!DOCTYPE html>
{% extends "ced_main/base.html" %}
{% load staticfiles %}
<base target="_parent" />
<link rel="stylesheet" type="text/css" href="{% static 'ced_main/Styles/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'ced_main/Styles/userstyle.css' %}" />

{% block content %}

	<div id="HE">
		<h3> CED Error Check Project Success</h3>
      	<p> The error check was successful.  Please check your email for the report. <br> Depending on your system delivery of the report may take several minutes. </p>
  	</div>    




{% endblock %}

