<!DOCTYPE html>
{% load staticfiles %}
<base target="_parent" />
<link rel="stylesheet" type="text/css" href="{% static 'ced_main/Styles/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'ced_main/Styles/userstyle.css' %}" />
<html>
<body>

<div id="topmenu">

    <div> 
        <a href="/ced_main/" title="CED">
        <img id="banner" src="{% static 'ced_main/images/ced_main/CEDNewBanner1.gif' %}" alt="Sage Grouse CED"
        title="Greater Sage Grouse Conservation Efforts Database" /></img></a>
    </div>

    <div>
        <img id="title" src="{% static 'ced_main/images/ced_main/ConservTitle.gif' %}" alt="Sage Grouse CED"
        title="Greater Sage Grouse Conservation Efforts Database" /></img>
    </div>


</div>

</body>
</html>


