{% extends "welcome/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block breadcrumbs %}{% endblock %}
{% block head_css_page %}

<link href="{% static 'ced_main/Styles/accountsstyle.css' %}"  rel="stylesheet" type="text/css" media="screen" />

{% endblock head_css_page %}

{% block title %}Profile{% endblock title %}


{% block content %}
<script type="text/javascript" src="{% static 'ced_main/javascript/cedprjedit/cedaccounts.js' %}"></script>
<div id="cp">

<form action="" method="post">{% csrf_token %}


    <div id="regis">
        <h3>Change Your Password</h3>
        <p> Welcome {{ user.first_name }} {{ user.last_name }},</p>
        <b style="color:red">You are here either because you need a new password or your current password is too weak.  Follow the directions below to change your password.</b>
        <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
        <div id="passchange">
            <h4>Password Strength</h4>
            <p>The CED requires a strong password in order to be able to enter data. There are minimal requirements for creating a password on the site. In addition, the CED requires additional security. If your password fails to meet both the site and additional CED strength requirements you will be redirected to this form and asked to strengthen your password.</p>
            <h4>Your password must:</h4>
            <p>Be at least 12 characters in length.</p>
            <p>Contain at least one upper case letter (A)</p>
            <p>Contain at least one lowercase letter (a)</p>
            <p>Contain at least one number (1)</p>
            <p>Contain at least one special character (#)</p>
        </div>
    </div>

    <div id="regformPC">
        <div id="oldp">
        {{ form.old_password.errors }}
        <label id="passlab1" for="id_old_password" class="labelPC">{% trans 'Old password*' %}:</label>{{ form.old_password }}
        </div>


        <div id="newp1">
        {{ form.new_password1.errors }}
        <label id="passlab2" for="id_new_password1" class="labelPC">{% trans 'New password*' %}:</label>{{ form.new_password1 }}
        </div>

        <div id="newp2">
        {{ form.new_password2.errors }}
        <label id="passlab3" for="id_new_password2" class="labelPC">{% trans 'Confirm Password*' %}:</label>{{ form.new_password2 }}
        </div>
    </div>
        <div id="subCPbutton">
            <input type="submit" class="submitbutton" value="Set New Password" onclick="checkpass2();" />
        </div>

    <div id="RetOrSub">
        <p> Return to your <a href="/">Home Page</a></p>
    </div>


</form>


{% endblock content %}
