{% extends "welcome/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block breadcrumbs %}{% endblock %}
{% block head_css_page %}

<link href="{% static 'ced_main/Styles/accountsstyle.css' %}"  rel="stylesheet" type="text/css" media="screen" />

{% endblock head_css_page %}

{% block title %}Reset Password{% endblock title %}


{% block content %}
    <script type="text/javascript" src="{% static 'ced_main/javascript/cedprjedit/cedaccounts.js' %}"></script>
    {% if validlink %}
    	<form id="passwordreset_form" action="" method="post">{% csrf_token %}
	    	<div id="regis">
				<h3>{% trans 'Enter new password' %}</h3>

				<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
				<div id="passchange">
			        <h4>Password Strength</h4>
			        <p>The CED requires a strong password in order to be able to enter data. There are minimal requirements for creating a password on this site. </p>
			        <h4>Your password must:</h4>
			        <p>Be at least 12 characters in length.</p>
			        <p>Contain at least one upper case letter (A)</p>
			        <p>Contain at least one lowercase letter (a)</p>
			        <p>Contain at least one number (1)</p>
			        <p>Contain at least one special character (#)</p>
			    </div>
				<div id="regform">
					{{ form.new_password1.errors }}
					<p><label class="label" for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
					{{ form.new_password2.errors }}
					<p><label class="label" for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
				</div>
				<div id="subbuttonreset">
					<input type="submit" class="submitbutton" value="Set New Password" onclick="checkpass1();" />
				</div>
			</div>
		</form>
		
	{% else %}
        <div id="regis">
    		<h3>{% trans 'Password reset unsuccessful' %}</h3>

    		<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        </div>

	{% endif %}



{% endblock content %}