{% extends "welcome/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block breadcrumbs %}{% endblock %}
{% block head_css_page %}

<link href="{% static 'ced_main/Styles/accountsstyle.css' %}"  rel="stylesheet" type="text/css" media="screen" />

{% endblock head_css_page %}

{% block title %}Reset Password{% endblock title %}


{% block content %}

<div id="acom">
	<h3>Password reset successful</h3>

	<p>We've emailed you instructions for setting your password. You should be receiving them shortly.</p>

	<p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>

	<p> Once you reset your password, you can <a href="/sgce/accounts/loginpage/" title="Log in" target="_parent">login</a></p>

</div>
{% endblock %}
