{% extends "welcome/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block breadcrumbs %}{% endblock %}
{% block head_css_page %}

<link href="{% static 'ced_main/Styles/accountsstyle.css' %}"  rel="stylesheet" type="text/css" media="screen" />

{% endblock head_css_page %}

{% block title %}Profile{% endblock title %}


{% block content %}

<div id="acom">
	<h3>{% trans 'Password change successful' %}</h3>

	<p>{% trans 'Your password was changed.' %}</p>

	<p> You will be redirected to the CED home in 10 seconds </p>

	<p> If the redirect fails, <a href="/">click here</a> to return to the home page. </p>
</div>
<script type="text/javascript">   
function Redirect() 
{  
window.location="/"; 
} 

setTimeout('Redirect()', 10000);   
</script>

{% endblock %}

